html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "Monument Extended", sans-serif;
    overflow: hidden;
    background: black !important;
}

nav {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 2px rgb(165, 165, 165);
}

.menu-item {
    flex: 1;
}

.menu-left {
    text-align: left;
}

.menu-right {
    text-align: right;
    color: #fff;
}

.menu-link {
    padding: 0 30px;
}

#git-link {
    padding: 0 30px;
    text-decoration: none;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 2px rgb(165, 165, 165);
}


.wrapper-img {
    /* overflow: hidden; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30%;
    height: 30vh;
}

img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.box {
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 1;
}

.header1 {
    position: absolute;
    top: 60%;
    text-transform: uppercase;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 2px rgb(165, 165, 165);
}

.header2 {
    position: absolute;
    top: 70%;
    text-transform: uppercase;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 2px rgb(165, 165, 165);
}


.header1 .letter,
.header2 .letter {
    display: inline-block;
    line-height: 1em;
}

.about-header {
    position: absolute;
    top: 60%;
    right: 10%;
    text-transform: uppercase;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 2px rgb(165, 165, 165);
}

.search-icon {
    font-size: 30px;
}

.about-paragraph {
    position: absolute;
    top: 70%;
    right: 10%;
    font-size: 19px;
    text-transform: initial;
    color: #fff;
}

.sidebar-text {
    position: absolute;
    top: 20%;
    right: 7%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: 2px rgb(165, 165, 165);
}

.projects {
    position: absolute;
    bottom: 10%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke: 2px rgb(165, 165, 165);
}

.img-nav {
    position: absolute;
    right: 13%;
    bottom: 13%;
    color: gray;
}

.next {
    position: relative;
    top: 40px;
    left: 80px;
    color: #fff;
}

.prev {
    position: relative;
    top: 40px;
    left: 80px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke: 2px rgb(165, 165, 165);
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 2;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8%;
    height: 20vh;
    background: #fff;
    z-index: 2;
}

@media (max-width: 900px) {
    .wrapper-img {
        width: 90%;
    }

    .header {
        top: 50%;
        left: 50%;
        text-align: center;
    }

    .header h1 {
        font-size: 40px;
    }

    .projects,
    .img-nav {
        display: none;
    }
}